Day1.UserStorageSystem/ConsoleClient/Service References/ServiceReference1/Master_Service51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Task1.StorageSystem.Concrete.SearchCriteries.UserCriteries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Task1.StorageSystem.Concrete.SearchCriteries.UserCriteries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CriterionFemales">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CriterionFemales" nillable="true" type="tns:CriterionFemales" />
  <xs:complexType name="CriterionMales">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CriterionMales" nillable="true" type="tns:CriterionMales" />
  <xs:complexType name="CriterionPersonalId">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CriterionPersonalId" nillable="true" type="tns:CriterionPersonalId" />
</xs:schema>